@use "./styles/typography/typography";

.root {
    font-family: var(--system-ui-font-stack);
}

.home {
    & > * {
        grid-area: 1 / 1 / 1 / 1;
    }
    & h1 {
        font-size: 180px;
        z-index: 2;
        font-weight: 700;
        color:blue;
        mix-blend-mode: multiply;
    }
    & .colour-wash {
        background-color: chartreuse;
        width: 100vw;
        height: 100vh;
    }
    & img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        filter: saturate(0) contrast(1.5);
        mix-blend-mode: screen;
    }
}