@import '../typography/typography';

:root {
    --font-stack: #{$system-ui-font-stack};
}

*::selection {
    background-color: black;
    color: white;
    mix-blend-mode: color-burn;
}
body {
    display: grid;
    place-items: center;
    place-content: center;
    height: 100vh;
    height: 100dvh;
    margin: 0;
    font-family: var(--font-stack);
}